[Unit]
Description=OAuth2 Authentication Proxy
After=network.target

[Service]
Type=simple
User=vouch-proxy
Environment="VOUCH_ROOT=/var/lib/vouch-proxy"
WorkingDirectory=/var/lib/vouch-proxy
ExecStart=/usr/sbin/vouch-proxy -config /etc/vouch-proxy/config
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=default.target